@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #4683c9;
  --color-opian-blue: rgba(174, 212, 255, 0.1);

  --breakpoint-sm: 32rem;
  --breakpoint-md: 40rem;
  --breakpoint-lg: 48rem;
  --breakpoint-xl: 64rem;
  --breakpoint-2xl: 80rem;

  --animate-fade-in: fadeIn 0.8s ease-in-out forwards;
  --animate-slide-in-from-left: slideInFromLeft 0.6s ease-out forwards;
  --animate-scale-up: scaleUp 0.6s ease-out forwards;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.fade-in-scroll {
  animation: slideUpOnScroll linear both;
  animation-timeline: view(block);
  animation-range: entry 40% cover var(--_fade-in-cover, 30%);
}

.fade-in-testimonials {
  animation: slideUpTestimonials linear both;
  animation-timeline: view(block);
  animation-range: entry 10% cover var(--_fade-in-cover, 30%);
}

.slide-left {
  animation: slideInFromLeft linear both;
  animation-timeline: view(block);
  animation-range: entry 10% cover var(--_fade-in-cover, 30%);
}

.slide-right {
  animation: slideInFromRight linear both;
  animation-timeline: view(block);
  animation-range: entry 10% cover var(--_fade-in-cover, 30%);
}

@keyframes slideUpTestimonials {
  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes slideUpOnScroll {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
